#cardArea {

    width: 100%;
    min-height: 128px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd ;
   cursor: pointer;
   
}

#cardArea:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd ;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: default;
}

/* Topo do card */
#topoCardArea {

    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #092e5e;
    height: 40%;
    color: white;
    
}

#logoArea {
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #666;
}

#nomeArea {
    color: white;
    font-weight: 500;
    font-size: 20px;
}

/* Corpo do card */
#corpoCardArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: gray;
    width: 97%;

}

/* Botão "Ver Mais" */
#btnVerMaisAreas {
    background-color: #002955;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

#btnVerMaisAreas:hover {
    background-color: #024892;
}

/* Estilos da barra de progresso (já definidos na função inclinacao()) */
.barra-progresso {
  width: 400%;
  height: 15px;
  background: #e9ecef;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.exatas {
  height: 400%;
  background: #0050a7;
  position: absolute;
  left: 0;
  top: 0;
}

.humanas {
  height: 400%;
  background: #d37801;
  position: absolute;
  right: 0;
  top: 0;
}

/* Legenda */
.flex justify-between text-xs text-gray-600 {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
}

#divBtn, #divBarra{
    padding: 5px;
}

#cardArea{
    border-radius: 20px;
}

@media (max-width: 1024px) {
  #subarea-list { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 600px) {
  #subarea-list { grid-template-columns: 1fr; }
}

#cardAreaPrincipal:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd ;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: default;
}

#cardAreaPrincipal{
    width: 76%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #092e5e;
    height: 40%;
    color: white;
    
}

#subarea-list{
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 16px;

}

#todosCardSubarea>#subarea-list {
    width: 100%;
    display: grid;
}

#cardSubarea {
    width: 100%;
    min-height: 128px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd ;
}

#cardSubarea:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd ;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: default;
}

#topoCardSubarea {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #092e5e;
    height: 40%;
    color: white;
}

#corpoCardSubarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: gray;
    width: 90%;
}

#nomeAreaPrincipal {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

#subareaTitulo{
  font-weight: 600;
  color: #051933;
}

#subareaSubtitulo{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

#divSubareaTitulo{
  width: 100%;
  max-width: 1100px;
  margin: 25px auto 0 auto; /* margem superior e centraliza */
  padding-right: 100px;
  box-sizing: border-box;
  justify-content: left;
  gap: 10px;
}

@media (max-width: 600px) {
  #subarea-list, #divSubareaTitulo {
    width: 95%;
    padding-right: 20px;
  }
}

