#cardSubareaPrincipal:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd ;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: default;
}

#cardSubareaPrincipal{
    width: 76%;
    min-height: 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #092e5e;
    height: 40%;
    color: white;
}

#topoCardSubareaPrincipal{
    display: flex;
    flex-direction: column;
    gap: 20px;
}    

#cursoSubarea-list{
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 16px;
  margin-bottom: 16px;

}

#todosCardCursoSubarea>#cursoSubarea-list {
    width: 100%;
    display: grid;
}

#cardCursoSubarea {
    width: 100%;
    min-height: 128px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 1px solid #ddd ;
}

#cardCursoSubarea:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd ;
    transform: translateY(-5px);
    transition: all 0.3s ease;
    cursor: default;
}

#topoCardCursoSubarea {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #092e5e;
    height: 40%;
    color: white;
}

#corpoCardCursoSubarea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: gray;
    width: 90%;
}

#nomeSubareaPrincipal {
    color: white;
    font-weight: 700;
    font-size: 50px;
}

#cursoSubareaTitulo{
  font-weight: 600;
  color: #051933;
}

#cursoSubareaSubtitulo{
  color: gray;
  font-size: 15px;
  font-weight: 500;
}

#divCursoSubareaTitulo{
  width: 100%;
  max-width: 1100px;
  margin: 25px auto 0 auto; /* margem superior e centraliza */
  padding-right: 100px;
  box-sizing: border-box;
  justify-content: left;
  gap: 10px;
}

#descricaoCursoSubarea p {
    width: 90%;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 5px;
    padding-right: 20px;
}

@media (max-width: 600px) {
  #cursoSubarea-list, #divCursoSubareaTitulo {
    width: 95%;
    padding-right: 20px;
  }
}